In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import databuilder

def load_sample_data_csv(url):
    try:
        # Read data from URL
        df = pd.read_csv(url)
        
        # Display basic information about the dataset
        print("Dataset Info:")
        print("-" * 40)
        print(f"Number of rows: {len(df)}")
        print(f"Number of columns: {len(df.columns)}")
        print("\nColumns:")
        for col in df.columns:
            print(f"- {col}")
        
        # Display first few rows
        print("\nFirst few rows of the dataset:")
        display(df.head())
        
        return df
    
    except Exception as e:
        print(f"Error loading data: {str(e)}")
        return None
    
# Example usage:
# sample_url = "https://catalog.data.gov/dataset/1-01-als-response-time-2023"
# df = load_sample_data(sample_url)


sample_url = "./Resources/COS2024.csv"
load_sample_data_csv(sample_url)

combined_emergency_df = databuilder.get_emergency_data()
combined_emergency_df.info()

Dataset Info:
----------------------------------------
Number of rows: 247372
Number of columns: 8

Columns:
- _id
- INCIDENT
- REPORTED
- CLOSED
- INCIDENT_ADDRESS
- NATURE_CODE
- NATURE_TEXT
- CATEGORY

First few rows of the dataset:

,_id,INCIDENT,REPORTED,CLOSED,INCIDENT_ADDRESS,NATURE_CODE,NATURE_TEXT,CATEGORY
0,1,22000001,2022-01-01T00:00:02,2022-01-01T00:12:20,35XX W BETHANY HOME RD,CKFOUT,check fire reported out,FIRE
1,2,22000002,2022-01-01T00:01:29,2022-01-01T00:41:24,33XX W GRANDVIEW RD,,,ALS
2,3,22000003,2022-01-01T00:01:52,2022-01-01T00:15:44,11XX W JEFFERSON ST,UNKF,unknown fire,FIRE
3,4,22000007,2022-01-01T00:06:06,2022-01-01T03:40:40,176XX N 7TH ST,,,BLS
4,5,22000009,2022-01-01T00:07:07,2022-01-01T00:36:42,34XX E SKY HARBOR BL,,,ALS

Successfully loaded data for ./Resources/COS2019.csv
Successfully loaded data for ./Resources/COS2020.csv
Successfully loaded data for ./Resources/COS2021.csv
Successfully loaded data for ./Resources/COS2022.csv
Successfully loaded data for ./Resources/COS2023.csv
Successfully loaded data for ./Resources/COS2024.csv

Successfully combined 6 files
Total records: 1,397,703
<class 'pandas.core.frame.DataFrame'>
Index: 963558 entries, 434134 to 1397702
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   INCIDENT          963558 non-null  int64
 1   REPORTED          963558 non-null  object
 2   CLOSED            963558 non-null  object
 3   INCIDENT_ADDRESS  963558 non-null  object
 4   NATURE_CODE       963558 non-null  object
 5   NATURE_TEXT       963558 non-null  object
 6   CATEGORY          963558 non-null  object
 7   _id               963558 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 66.2+ MB