In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import databuilder


combined_emergency_df = databuilder.get_emergency_data()
combined_emergency_df.info()
print("-" * 40)
combined_mercury_df = databuilder.get_mercury_data()
combined_mercury_df.info()
print("-" * 40)
combined_full_moon_df = databuilder.get_full_moon_data()
combined_full_moon_df.info()

print("Full Moon Data")
display(combined_full_moon_df)
print("-" * 40)
print("Mercury Data")
display(combined_mercury_df)
print("-" * 40)
print("Emergency Data")
display(combined_emergency_df)

Successfully loaded data for ./Resources/COS2019.csv
Successfully loaded data for ./Resources/COS2020.csv
Successfully loaded data for ./Resources/COS2021.csv
Successfully loaded data for ./Resources/COS2022.csv
Successfully loaded data for ./Resources/COS2023.csv
Successfully loaded data for ./Resources/COS2024.csv

Successfully combined 6 files
Total records: 1,397,703
<class 'pandas.core.frame.DataFrame'>
Index: 963558 entries, 434134 to 1397702
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   INCIDENT          963558 non-null  int64
 1   REPORTED          963558 non-null  object
 2   CLOSED            963558 non-null  object
 3   INCIDENT_ADDRESS  963558 non-null  object
 4   NATURE_CODE       963558 non-null  object
 5   NATURE_TEXT       963558 non-null  object
 6   CATEGORY          963558 non-null  object
 7   _id               963558 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 66.2+ MB
----------------------------------------
Successfully loaded data for ./Resources/merc_retro.csv

Successfully combined 1 files
Total records: 21
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        21 non-null     int64
 1   start_date  21 non-null     object
 2   end_date    21 non-null     object
dtypes: int64(1), object(2)
memory usage: 636.0+ bytes
----------------------------------------
Successfully loaded data for ./Resources/full_moons.csv

Successfully combined 1 files
Total records: 1,868
<class 'pandas.core.frame.DataFrame'>
Index: 383 entries, 5 to 1865
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Day     383 non-null    object
 1   Date    383 non-null    object
 2   Time    383 non-null    object
 3   Flag    383 non-null    object
dtypes: object(4)
memory usage: 15.0+ KB

            Day               Date         Time  Flag
5     Wednesday       13 June 1900   4:38:36 am   [/]
11     Thursday    6 December 1900  11:38:06 am   [/]
16       Friday         3 May 1901   7:18:42 pm   [/]
19    Wednesday       31 July 1901  11:33:42 am   [+]
22       Sunday    27 October 1901   4:06:12 pm   [*]
...         ...                ...          ...   ...
1848    Tuesday       15 June 2049   9:26:54 pm   [/]
1853    Tuesday    9 November 2049   4:38:00 pm   [/]
1859   Saturday         7 May 2050  12:26:12 am  [**]
1864     Friday  30 September 2050   7:31:48 pm   [+]
1865     Sunday    30 October 2050   4:16:00 am  [**]

[383 rows x 4 columns]

    year  start_date    end_date
0   2019  2019-03-05  2019-03-28
1   2019  2019-07-07  2019-08-01
2   2019  2019-10-31  2019-11-20
3   2020  2020-02-16  2020-03-09
4   2020  2020-06-17  2020-07-11
5   2020  2020-10-13  2020-11-02
6   2021  2021-01-30  2021-02-20
7   2021  2021-05-29  2021-06-22
8   2021  2021-09-26  2021-10-18
9   2022  2022-01-14  2022-02-03
10  2022  2022-05-10  2022-06-03
11  2022  2022-09-09  2022-10-02
12  2022  2022-12-29  2023-01-18
13  2023  2022-12-29  2023-01-18
14  2023  2023-04-21  2023-05-14
15  2023  2023-08-23  2023-09-15
16  2023  2023-12-13  2024-01-01
17  2024  2023-12-13  2024-01-02
18  2024  2024-04-01  2024-04-25
19  2024  2024-08-05  2024-08-28
20  2024  2024-11-26  2024-12-15

,INCIDENT,REPORTED,CLOSED,INCIDENT_ADDRESS,NATURE_CODE,NATURE_TEXT,CATEGORY,_id
434134,21000004,1/1/2021 12:01:27 AM,1/1/2021 12:06:18 AM,24XX N 73RD LN,DEBRIS,debris fire,FIRE,1.0
434135,21000008,1/1/2021 12:04:59 AM,1/1/2021 12:18:53 AM,1XX S 29TH AV,,,BLS,2.0
434136,21000009,1/1/2021 12:05:02 AM,1/1/2021 12:16:26 AM,N 35TH AV/W VIRGINIA AV,GRASS,grass fire,FIRE,3.0
434137,21000014,1/1/2021 12:07:25 AM,1/1/2021 12:28:05 AM,46XX N 29TH DR,TREE,tree fire,FIRE,4.0
434138,21000015,1/1/2021 12:08:39 AM,1/1/2021 12:19:51 AM,30XX W ELM ST,TREE,tree fire,FIRE,5.0
...,...,...,...,...,...,...,...,...
1397698,22570491,2022-12-31T23:48:33,2023-01-01T00:07:01,41XX W UNION HILLS DR,DUMP,dumpster fire,FIRE,247368.0
1397699,22570492,2022-12-31T23:48:55,2023-01-01T00:30:09,15XX W DENTON LN,,,ALS,247369.0
1397700,22570496,2022-12-31T23:51:50,2023-01-01T00:02:14,44XX E VAN BUREN ST,,,BLS,247370.0
1397701,22570497,2022-12-31T23:52:07,2023-01-01T00:05:31,N 15TH AV/W GLENROSA AV,UNKF,unknown fire,FIRE,247371.0
1397702,22570503,2022-12-31T23:59:54,2023-01-01T00:19:24,54XX E CHARLESTON AV,,,BLS,247372.0