In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import databuilder

# Load the ergency dataset and display the first few rows
emergency_df = databuilder.get_emergency_data()
display(emergency_df.head())

# Load the full moon data and display the first few rows
full_moon_df = databuilder.get_full_moon_data()
display(full_moon_df.head())

Successfully loaded data for ./Resources/COS2019.csv
Successfully loaded data for ./Resources/COS2020.csv
Successfully loaded data for ./Resources/COS2021.csv
Successfully loaded data for ./Resources/COS2022.csv
Successfully loaded data for ./Resources/COS2023.csv

Successfully combined 5 files
Total records: 1,150,331

   INCIDENT            REPORTED              CLOSED CATEGORY
0  19000004 2019-01-01 00:03:00 2019-01-01 01:22:00      ALS
1  19000006 2019-01-01 00:05:00 2019-01-01 00:29:00      ALS
2  19000008 2019-01-01 00:07:00 2019-01-01 00:20:00      ALS
3  19000011 2019-01-01 00:10:00 2019-01-01 00:23:00      BLS
4  19000013 2019-01-01 00:10:00 2019-01-01 00:36:00      ALS

Successfully loaded data for ./Resources/full_moons.csv

Successfully combined 1 files
Total records: 1,868

         Day  Flag            DateTime
0     Monday  Full 2000-01-15 20:07:30
1  Wednesday  Full 2000-02-14 14:50:12
2     Friday  Full 2000-03-16 09:11:48
3     Sunday  Full 2000-04-15 02:02:06
4     Monday  Full 2000-05-14 16:36:36

In [13]:
# Make Date columns match
emergency_test_df = emergency_df[['INCIDENT', 'REPORTED']]
display(emergency_test_df.head())
display(full_moon_df.head())

   INCIDENT            REPORTED
0  19000004 2019-01-01 00:03:00
1  19000006 2019-01-01 00:05:00
2  19000008 2019-01-01 00:07:00
3  19000011 2019-01-01 00:10:00
4  19000013 2019-01-01 00:10:00

         Day  Flag            DateTime
0     Monday  Full 2000-01-15 20:07:30
1  Wednesday  Full 2000-02-14 14:50:12
2     Friday  Full 2000-03-16 09:11:48
3     Sunday  Full 2000-04-15 02:02:06
4     Monday  Full 2000-05-14 16:36:36